body {
        background-image:url('../img/graytexture.png');
        background-repeat:repeat;
   // background-color: #B9DCF0;
}
#slider {
/*	float: left;*/
	width: 670px;
	/*width: 980px;*/
	margin: 10px 0px;
}

#charts {
	/*margin: 0px 10px;*/
	display:inline-block;
}

#animation {
	display:inline-block;
    background-color: #ffffff;
}

.rsgraph_wrapper {
	/*margin-top: 20px;
	margin-bottom: 20px;*/

/*    width: 670px;*/
    /*width: 980px;*/
	/*margin: 20px;*/
	border-bottom: 1px solid grey;
	border-right: 1px solid grey;
    border-left: 1px solid grey;
}
.rsgraph_wrapper:first-child {
    border-top: 1px solid grey;
}

.left { float:left; }
.right{
    float:right;
    /*margin-right: 450px;*/
}

.label{
	position: absolute;
	right: 1px;
	/*float: right;*/
	padding-top: 60px;
	padding-right: 3px;
	z-index: 1;
}

.label_boolean {
	position: absolute;
	right: 1px;
	float: right;
	padding-top: 10px;
	padding-right: 3px;
	z-index: 1;
}

fieldset { border: 0; margin-bottom: 20px; }
legend { font-size: 17px; font-weight: bold; }

.float-left {
	float: left;
width: 33%;
	/*width: 240px;*/
}

.radiolist {
	list-style: none;
	margin: 0;
	padding: 0;
}
.radiolist p {
	float: left;
	margin-right: 10px;
	padding-top: 7px;
	padding-left: 15px;
	background: #ebebeb;
	width: 90px;
	height: 20px;
	position: relative;
	font: normal 11px/1.3 "Lucida Grande","Lucida","Arial",Sans-serif;
}
.radiolist p.selected { 
    background: #555555;
}
.radiolist p.selected a {
    color: #ebebeb;
}

.radio-select {
	display: block;
	float: left;
	position: absolute;
}

.radiolist p input { display: none; }

a.radio-deselect {
	display: none;
	color: white;
	font-weight: bold;
	text-decoration: none;
	position: absolute;
	top: 120px;
	right: 10px;
}
.radiolist p.selected a.radio-deselect { display: block; }

.radiolist p span {
	display: block;
	text-align: center;
	padding: 8px;
}
