#slider {
	float: left;
	width: 980px;
	margin: 10px 0px;
}

#charts {
	/*margin: 0px 10px;*/
}

.rsgraph_wrapper {
	/*margin-top: 20px;
	margin-bottom: 20px;*/
	margin: 20px;
	border: 1px solid grey;
}

